export default class Config {
  constructor() {
    var dirs = {
      src: 'src',
      dest: 'dist'
    };

    this.paths = {
      scss : {
        watch: `${dirs.src}/scss/**/*`,
        src: `${dirs.src}/scss/init.scss`,
        dest: `${dirs.dest}/`
      },
      img : {
        watch: `${dirs.src}/img/**/*`,
        src: `${dirs.src}/img/**/*.{jpg,png,ico}`,
        dest: `${dirs.dest}/`
      },
      fnt : {
        watch: `${dirs.src}/fnt/**/*`,
        src: `${dirs.src}/fnt/**/*`,
        dest: `${dirs.dest}/`
      },
      bower : {
        watch: `${dirs.src}/js/lib/**/*`,
        src: [
          `${dirs.src}/js/bower/radio/radio.js`,
          `${dirs.src}/js/bower/zepto/zepto.js`,
          `${dirs.src}/js/bower/lodash/dist/lodash.js`,
          `${dirs.src}/js/bower/velocity/velocity.js`,
        ],
        dest: `${dirs.dest}/`
      },
      es6 : {
        watch: `${dirs.src}/es6/**/*`,
        src: `${dirs.src}/es6/init.js`,
        dest: `${dirs.dest}/`
      }
    };
  }
}
