
@mixin cover-table() {
  .cover-t {
    display:table;
    height:100%;
    width:100%;
    .cover-r {
      display:table-row;
      .cover-c {
        display:table-cell;
        vertical-align:middle;
        text-align:center;
      }
    }
  }
}

:focus {
  outline:none;//????
  outline-width:1px;
  outline-style: solid;
  outline-color:$accent;
}